In [1]:
# Enable auto-reload
%load_ext autoreload
%autoreload 2

In [2]:
# Suppress warnings
import warnings
warnings.filterwarnings("ignore")

# Add one level up directory to the path
import sys
sys.path.append("..")

# Import libraries
from src.data.utils import *

In [3]:
%%time
train_df, validation_df, test_df = get_dataset()

CPU times: user 4.08 s, sys: 200 ms, total: 4.28 s
Wall time: 7.56 s

In [4]:
train_df

,en,hi_en
0,What's the name of the movie,film ka kya naam hai
1,"Hi, the rotten tomatoes score is great but the...","namaste, sada hua tomatoes score mahaan hai, l..."
2,Do you think you will like the movie,kya aapako lagata hai ki aapako film pasand aa...
3,What kind of movie is it,yah kis tarah kee philm hai
4,when was the movie made?,film kab banee thee?
...,...,...
8055,Ok.,Thik hai\n
8056,ok bro,Thik hai bhai\n
8057,shall we continue?,Kya ham chalu kar sakte hai?\n
8058,do you like we can,Kya aapko pasand hai hamare saath\n
8059,Yeah I have fifteen thanks.,Haa mere pass pandrah thanks hai\n

In [5]:
validation_df

,en,hi_en
0,What is the movie about?,movie kis baare me hai?
1,the movie is about a young child named Kevin w...,Movie ek chhote bacche Kevin k baare me hai ji...
2,Did they abandon him on purpose?,Kya wo jaan bhuj k abandon karte hai?
3,no they had lost track of him since they had m...,"nahi, wo uska track lose kardete hai kyuki bah..."
4,Did they realize they lost track of him and co...,Kya wo realize karte hai k wo chhut gaya aur u...
...,...,...
937,Yep. Thanks for chatting,Yep. Thanks baat karne ke liye\n
938,"thanks, I will watch it. SOunds good","Thanks, mei dekhati hui. Achi baat hai\n"
939,Hi!,Hi!\n
940,Did you like the movie Despicable Me?,kya tumhe movie Despicable Me pasand hai?\n
941,"I did not realize this movie came out in 2010,...","mujhe nahi lagta ki ye movie 2010 me aayi thi,..."

In [6]:
test_df

,en,hi_en
0,ah mean girls. such a funny movie. have you se...,oye ledki kitni mazakiya movie dekh rhi ho ?
1,"Yeah, even though I love comedies, this wasn't...",ha muje bhi hassi mazak ki movies pasand par y...
2,how come. thought tina fey's writing was fanta...,kese tina ka jhuti writing isme achi the usne ...
3,I loved the story & how true they made it in h...,muje kahani bhute achi lagi aur unhone ise dac...
4,I see. i didn't realize it was 14 years ago. y...,ab samja muje nhi pta tha ki aap sahi admi hai...
...,...,...
6508,Stop alarm now,alarm ko abhi stop kare
6509,set alarm every hour,Har ghante ke liye alarm set kare
6510,text Bobby,Bobby ko text kare
6511,remind me to pick up laundry at 6 pm,Muje shaam 6 baje laundry ko pick up karne ke ...
6512,Can you remind me to wake my kids up every mor...,Kya aap muje har subah 6 baje apne baccho ko j...